
/* Gets correct font from /styles/fonts folder */
@font-face {
        font-family: "Remingtoned Type";
        src: url("fonts/Remingtoned Type.ttf");
    }

/* Changes background images per page for correct top menu design */
#mainMenuBody {
    background-image: url(../imgsource/pamBackground-main.png);
}

#memberMenuBody {
    background-image: url(../imgsource/pamBackground-members.png);
}

#missionMenuBody {
    background-image: url(../imgsource/pamBackground-missionMain.png);
}

#adminMenuBody {
    background-image: url(../imgsource/pamBackground-admin.png);
}

#squadronMenuBody {
    background-image: url(../imgsource/pamBackground-squadron.png);
}

body {
    background-color: black;
    /*background-image: url(../imgsource/pamBackground-v04-watermark.png);*/
    background-repeat: no-repeat;
    background-position: center top;
    font-family: "Remingtoned Type";
    /*font-size: 78%; /*Downscaling because tables
    /*font-family: "Traveling _Typewriter";*/
    /*font-family: "1942 Report", "Remingtoned Type", "Times New Roman";*/
    /*font-family: "Albertsthal typewriter";*/
    /*font-family: "Times New Roman";*/
    /*font-family: "Lucida Sans Typewriter";*/
}


/* Upscales font on main page for readability */
#frontPageContainer {
    font-size: 115%;
}

/* Upscales font synopsis field (report) for readability */
#synopsis {
    font-size: 115%;
}


.wideTable {
    font-size: 92%
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: black;
    text-decoration: underline;
}

input{
    font-family: "Remingtoned Type", "Lucky Typewriter";
}

input[type="text"] {
    background-color: transparent;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

input[type="submit"] {
    background-color: transparent;
    border: 1px solid black;
}

input[type="submit"]:focus, input[type="submit"]:hover  {
    opacity: 0.5;
    background-color: white;
    border: 1px solid black;
}

input[type="submit"]:active {
    opacity: 0.75;
    background-color: white;
    border: 1px solid black;
}

button {
    color: black;
    background-color: transparent;
    border: 1px solid black;
    font-family: "Remingtoned Type";
}

button:hover {
    opacity: 0.5;
    color: white;
    background-color: black;
    border: 1px solid black;
}

button:active {
    opacity: 1;
    color: white;
    background-color: black;
    border: 1px solid black;
}

button:disabled {
    opacity: .75;
    color: grey;
    background-color: transparent;
    border: 1px solid grey;
}

hr {
    height:1px;
    border-style: solid;
    border-width: 1px 0 0 0;
    color:black;  
}

/*div {border: 1px solid red}*/

textarea {
    resize: none;
    width: 800px;
    background-color: transparent;
    border: 1px solid black;
}

.mainContainer {

    /*border: 1px solid red;*/
    position: relative;
    left: 50%;
    margin-left: -550px;
    width: 1100px;
    min-height: 1100px;
    margin-top: 20px;
    
}

.mainContainer > .pageTop {
    
    /*border: 1px red solid;*/
    /*width: 1100px;*/
}

/*Menu styles*/

.primMenu > ul {
    
    list-style-type: none;
    padding: 0px;
}

.primMenu > ul > li {
    
    /*border: 1px solid yellow;*/
    display: table-cell;
    height: 50px;
    width: 200px;
    vertical-align: middle;
    text-align: center;
    
}

.primMenu > ul > li > a {
    
    /*border: 1px solid yellow;*/
    /*    display: block;*/
    /*vertical-align: middle;*/
    font-size: 22px;
    font-weight: bold;
}

.userMenu {
    /*border: 1px solid yellow;*/
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

#forumLink {
    width: 100px;
    display: inline-block;
    font-size: 20px;
}

#statusMessage {
    width: 420px;
    display: inline-block;
    font-size: 20px;
}

#userButtons {
    width: 400px;
    display: inline-block;
    text-align: right;
/*    float: right;*/
}

.secMenu {
    /*border: 1px solid yellow;*/
    margin-left: auto;
    margin-right: auto;
    width: 920px;
    height: 50px;
}

.secMenu > ul {
    list-style-type: none;
    margin: 4px auto;
}

.secMenu > ul > li {
    display: inline-block;
    width: 160px;
    text-align: center;
    border-left: 1px solid black;
}

.secMenu > div > .squadronMenu > li {
    display: inline-block;
    width: 80px;
    text-align: center;
    border-left: 1px solid black;
}

.secMenu > .memberMenu > li {
    display: inline-block;
    width: 170px;
    text-align: center;
    border-left: 1px solid black;
}

#squadronScrollMenu {
    
    margin: 0;
    overflow: auto;
    width: 900px;
    height: 30px;
}

.squadronScrollContainter > ul {
    list-style-type: none;
    margin: 0px;
}

.squadronScrollContainter > ul > li {
    display: inline-block;
    width: 80px;
    text-align: center;
    border-left: 1px solid black;
    margin: 0px;
}

/* ------------- Flexcroll CSS ------------ */
.scrollgeneric {
    line-height:1px;
    font-size:1px;
    position:absolute;
    top:0;left:0;
}
.hscrollerbase {
    height:12px;
}
.hscrollerbar {
    height:8px;
    background:transparent;
    cursor:e-resize;
    padding:0px;
    border:1px solid black;
    margin-top: 2px;
}

.hscrollerbar:hover, .hscrollerbar:focus {
    background:black;
    opacity: 0.5;
    background-color: white;
    border:1px solid black;
}

/*Content styles*/

.mainContainer > .pageMiddle {
    /*border: 1px solid red;*/
    width: 950px;
    height: 890px;
/*    min-height: 600px;
    max-height: 900px;*/
    margin: 70px auto 20px;
    overflow-y: auto;
    
}

.form_id {
    font-size: 0.8em;
}

.mainContainer > .pageMiddle > div {
    margin: 5px 25px;
}

.middlePageStandard {
    margin: 15px auto;
}

.middlePageStandard > p{
    margin: 0px auto;
}

.mainContainer > .pageMiddle > th, td {
    /*border: 1px solid black;*/
    padding: 2px 10px;
}

.mainContainer > .pageMiddle > .letter {
    /*border: 1px solid yellow;*/
    margin-top: 100px;
}

.mainContainer > .pageMiddle > .query {
    /*border: 1px solid yellow;*/
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.indexSelect {
    /*border: 1px solid yellow;*/
    border-bottom: 1px solid black;
    font-size: 1.2em;
    text-align: right;
}

.indexSelect > span {
    margin: 0px 4px;
    vertical-align: top;
}

.pageSelect {
    /*border: 1px solid yellow;*/
    border-top: 1px solid black;
    font-size: 1.2em;
    text-align: right;
}

.pageSelect > span {
    margin: 0px 2px;
    vertical-align: top;
}

.selectedPageSpan {
    font-size: 125%;
}

.pageBottom {
/*    border: 1px solid yellow;*/
    text-align: center;
}

.synopImg {
    
    display: block;
    margin: auto;
}

.uniform {
    
    display: inline-block;
    vertical-align: middle;
    width: 120px;
}

.uniformRank {
    
    display: inline-block;
    vertical-align: middle;
    width: 90px;
}

.uniformWings {
    
    display: inline-block;
    vertical-align: middle;
    width: 90px;
}

.memberGeneralInformation {
    
    border-left: 1px solid black; 
    display: inline-block;
    vertical-align: middle;
}

.missionSynopsisParticipation {
    
    display: inline-block;
    vertical-align: top;
    width:49%
}

.rosterSetup {
    
    display: inline-block;
    vertical-align: top;
    width:40%
}

.dispersalSetupLeft {
    
    display: inline-block;
    vertical-align: top;
    width:40%
}

.dispersalSetupRight {
    
    display: inline-block;
    vertical-align: top;
    width:40%
}

.spinnerButton {
    
    margin-left: 10px;
    margin-right: 10px;
}
