/**
 * TSStatus: Teamspeak 3 viewer for php5
 * @author Sebastien Gerard <seb@sebastien.me>
 * @see http://tsstatus.sebastien.me/
 * @version 2013-08-31
 **/

.tsstatus, .tsstatuserror{
	text-align: left;
	/*background-color: #ffffff;*/
		background: rgba(53, 53, 53, 0.5);
	width: 300px;
	float: left;
	border: 1px solid #000000;
	min-height: 800px;
}

.tsstatus, .tsstatus *, .tsstatuserror{
	color: #ffffff;
	font-family: Verdana;
	font-size: 10px;
}

.tsstatus label{
	border-bottom: 1px solid #aaaaaa;
}

.tsstatusItem a{
	color: #ffffff;
}

.tsstatusItem a:hover{
	/*background-color: #f6f6f6;*/
	color: #F28900;

}

.tsstatuserror{
	color: #ff0000;
}

.tsstatus, .tsstatus *{
	vertical-align: middle;
	margin: 0;
	padding: 0;
	margin-left: 5px;
	margin-right: 20px;
}

.tsstatus{
	position: relative;
	overflow: hidden;
}

.tsstatus label{
	display: block;
	padding: 2px 0;
}

.tsstatusItem{
	margin-left: 16px;
	position: relative;
	white-space:nowrap;
}

.tsstatusItem a{
	display: block;
	text-decoration: none;

}

.tsstatusItem img{
	border: 0;
	vertical-align: middle;
	margin-right: 2px;
}

.tsstatusFlags{
	position: absolute;
	right: 0;
	top: 0;
}

.tsstatusServer{
	margin-left: 0;
}
