BODY {
	background-color:#000000;	
	color: #aaaaaa;
	font-family: Arial, sans-serif;	
	font-size: 12px;
}
.button {	
	border: 1px solid #aaaaaa;
	padding: 2px 8px;	
	background: #555555;
	font-family: Arial, sans-serif;	
	color: #aaaaaa;
}
.button:hover {
	border: 1px solid #888888;
	padding: 2px 8px;
	background: #777777;
}
select {
	background-color: #555555;
	color: #aaaaaa;
}
select:disabled {
	background-color: #888888;
	color: #aaaaaa;	
}
option {
	background-color: #555555;
	color: #aaaaaa;
}
option:disabled {
	background-color: #888888;
	color: #aaaaaa;	
}


div.imageSub { position: relative; }
div.imageSub img { z-index: 1; }
div.imageSub div {
	position: absolute;
	padding: 4px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	overflow: hidden;
}
div.imageSub div.blackbg {
	left: 1002;
	right: 196;
	top: 4;
	z-index: 2;
	background-color: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
}
div.imageSub div.tick {
	left: 1002;
	right: 196;
	top: 4;
	z-index: 3;
	color: white;
}
div.imageSub div.yellowbg {
	left: 893;
	right: 307;
	top: 4;
	z-index: 2;
	background-color: yellow;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
}
div.imageSub div.mapgrid {
	left: 893;
	right: 307;
	top: 4;
	z-index: 3;
	color: black;
	font-weight: bold;
}