.psTable{
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.psTable table{
    width: 100%;
    margin: auto;
}

.psTable a:hover{
    color: #bcbcbc;  
}

.indexSelect{
    width: 90%;
    margin: auto;
    text-align: right;
}

.indexSelect span{
    margin: 0px 2px;
    color: #ffffff;
}

.indexSelect a{
    color: #ffffff;
}

.selectedPageSpan{
    font-size: 125%;
}

.buttonLink{
    
    display: inline-block;
    width: 115px;
    height: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid white;
}

.buttonLink:hover{ 
    
    background: rgba(0, 0, 0, 0.3);
}


.psListButton a:hover {
    color: #F28900;
    text-decoration: none;
}

/*.psListButton div {*/
/*    padding: 5px;*/
/*    border-radius: 15px;*/
/*    background:url(../images/bg_headline.png) repeat-y center;*/
/*    margin: 5px 0px;*/
/*}*/

.psListButtonRAF {
    padding: 5px;
    border-radius: 15px;
    background:url(../images/bg_headline.png) repeat-y center;
    margin: 5px 0px;
    background-color: rgba(255, 0, 0, 0.3);
}

.psListButtonLW {
    padding: 5px;
    border-radius: 15px;
    background:url(../images/bg_headline.png) repeat-y center;
    margin: 5px 0px;
    background-color: rgba(0, 0, 255, 0.3);
}

.psListButton img {
    /*width : 30px;*/
    /*height: 30px;*/
    max-height: 30px;
    display:inline-block;
    vertical-align: middle;
}

.psListButton p {
    width: 30%;
    /*color: #ffffff;*/
    display:inline-block;
    margin: auto;
    vertical-align: middle;
}

.characterListMedalContainer {
    width: 30%;
    border-radius: 15px;
    display:inline-block;
    background-color: rgba(255, 255, 255, 0.2);
}

.uniform {
    
    display: inline-block;
    float: left;
    vertical-align: middle;
    width: 120px;
}

.uniformRank {
    
    display: inline-block;
    vertical-align: middle;
    width: 90px;
}

.uniformWings {
    
    display: inline-block;
    vertical-align: middle;
    width: 90px;
}

.memberGeneralInformation {
    
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
}