@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
	font-family: 'Roboto', 'Arial', sans-serif;
	background:url(../images/background.jpg);
	background-color: #242424;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
	font-size: 17px;
}

iframe{
	border: 2px solid black;
	background: rgba(81, 81, 81, 0.49);
	padding: 10px;
	border-radius: 15px;
	
}


.contentWrapper{
	width: 1010px;
	margin-left:auto;
	margin-right:auto;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	border-color: rgba(0, 0, 0, 0.4);;
	background: rgba(0, 0, 0, 0.3);
}

#languageButtons{
	width: 1010px;
        height: 30px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 5px;
        text-align:right;
}

#languageList {
        margin: 0;
	padding: 0;
	list-style: none;
	display: table;
	width: inherit;
	height: inherit;
        float: right;
}

#languageList li {
	display: table-cell;
        height: 40px;
        width: 50px;
}

#languageList li button {
	background-color: transparent;
        border: none;
}

#languageList li button:active {
	background-color: transparent;
        border: none;
}

#banner{
	background:url(../images/banner.png) no-repeat center;
	height: 260px;
	width: 1010px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 5px;
}

.navigationList {
	top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 0;
	list-style: none;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background: rgba(91, 11, 12, .8);
	text-align: center;
	display: table;
	width: inherit;
	height: 50px;
}

.navigationList .seperator{
	width: 1px;
}

.navigationList li {
	display: table-cell;
	font-size: 19px;
	font-weight: bold;
}

.navigationList li a {
	display: block;
	padding: 0px 10px;
	text-decoration: none;
	margin-top: 13px;
	font-size: 19px;
	font-weight: bold;
	color: #FFF6FD;
}


.navigationList li a:hover{
	color: #F28900;
}

.dropdown{
	position: relative;
}

.dropdown-content{
	display: none;
	position: absolute;
	width: 100%;
	top: 50px;
	z-index: 1;
	background-color: rgba(91, 11, 12, .8);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-bottom: 10px;
}

.dropdown-content a{
	text-align: left;
}

.dropdown:hover .dropdown-content {
	
	display: block;
}

h1, h2, h3, h4{
	color: #F28900;
	background:url(../images/bg_headline.png) repeat-y center;
	padding: 2px 0px;
}

.content{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	background:url(../images/content_background.png) repeat;
}

.contentText{
	padding-left: 40px;
	padding-right: 40px;
	text-align: justify;
}

.contentText a{
	text-decoration: none;
	font-style: italic;
	color: inherit;
}

.contentText a:hover{
	color: #F28900;
	text-decoration: underline;
}

.contentTextParagraphHeader{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.contentSubMenu{
	padding-left: 40px;
	padding-right: 40px;
	text-align: left;
	font-size: 22px;
	font-weight: bold;
}

.contentSubMenu a{
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

.contentSubMenu a:hover{
	color: #F28900;
}

#footer{
	height: 20px;
	clear: both;
}

#footer a{
	margin: 50px;
	text-decoration: none;
	font-size: 12px;
	color: #ffffff;
}

#footer a:hover{
	color: #F28900;
}

.pageSelect {
    /*border: 1px solid yellow;*/
    border-top: 1px solid black;
    font-size: 1.2em;
    text-align: right;
}

.pageSelect > span {
    margin: 0px 2px;
    vertical-align: top;
}

.selectedPageSpan {
    font-size: 125%;
}

.squadronTable{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	border-spacing: 0px;
	margin-bottom: 10px;
	text-align: center;
}

.squadronTable th{
	font-size: 28px;
	font-weight: bold;
	padding: 10px;
}

.squadronTable th img{
	width: 45px;
	height: 45px;
}

.squadronTable td{
	font-size: 19px;
	font-weight: bold;
	font-style: italic;
	padding-top: 8px;
	height: 170px;
	width: 300px;
}

.squadronTable td a{
	outline: 0;
	border: 0px;
}

.squadronTable td a img{
	height: 150px;
	opacity:0.8; 
	border-style: none;
	filter:alpha(opacity=80);
}

.squadronTable td a img:hover{
 	opacity:1.0; 
 	filter:alpha(opacity=100); 
}

.squadronBadge{
	height: 300px;
}

.roster{
	width: 100%;
}

.rosterTable{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	table-layout: auto;
	border-spacing: 0px;
	border-color: #1F1F1F;
	border-style: solid;
	border-collapse: collapse;
	background: rgba(81, 81, 81, 0.49);

}

.rosterTableHeader{
	font-weight: bold;
	font-size: 21px;
	background: rgba(53, 53, 53, 0.5);
}

.rosterTableSubHeader{
	font-weight: bold;
	background: rgba(156, 156, 156, 0.56);
	font-style: italic;

}

.rosterTable th{
	border-color: #1F1F1F;
}

.rosterTable td{
	padding-top: 4px;
	padding-bottom: 4px;
	border-color: #1F1F1F;
}

.rosterTablePilot{
	font-weight: bold;
}

.rosterTableAircraft a img{
	border-style: none;
}

#tsDetails{
	font-size: 21px;
	width: 350px;
}


.rankTable{
	margin-left:auto;
	margin-right:auto;
	width: 50%;
	font-weight: bold;
}

.rankTable th{
	font-size: 22px;
}

/*#facebookFrame{*/
/*	width: 920px; */
/*	height: 450px;*/
/*	border: 1px solid #1F1F1F;*/
/*	overflow: hidden;*/
/*}*/

.fb-page{
	border: 2px solid black;
	background: rgba(81, 81, 81, 0.49);
	padding: 10px;
	border-radius: 15px;
	height: 500px;
}

.fb-page a{
	
	color: #ffffff;
}


.eventTable{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	table-layout: auto;
	border-spacing: 1px;
	border-color: #1F1F1F;
	border-style: solid;
	border-collapse: collapse;
	font-size: 18px;
}

.eventTable td{
	padding: 8px;
	border-color: #1F1F1F;
}

.eventTableFirstCol{
	font-weight: bold;
	font-style: italic;
	font-size: 19px;
	width: 30%;
}

.serverHeader{
	
	text-align: left;
}

.serverSubNavigation
{
	margin: 0px;
}

.serverSubNavigation ul
{
  list-style-type: none;
  padding-left: 40px;
  padding-right: 40px;
}

.serverSubNavigation li
{
	text-align: justify;
	padding: 5px;
	border-radius: 15px;
}

.serverSubNavigation li a
{
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
	overflow: auto;
	font-size: 22px;
    font-weight: bold;
    color: #ffffff;
	background: none;
	padding: 0px;
	margin: 0px;
}

.serverSubNavigation li p 
{
  font-size: 14px;
  padding: 0px;
  margin-top: 5px;
  font-weight: normal;
}

.serverSubNavigation li img
{
	float: left;
	margin: 0 15px 0 0;
	width: 160px;
	height: 100px;
	opacity:0.75; filter:alpha(opacity=75);
	border: 1px;
	border-style: solid;
	border-color: #000000;
	border-radius: 15px;
}

.serverSubNavigation li:hover
{
  background: rgba(0, 0, 0, 0.3);
}

.serverSubNavigation li:hover img
{
	opacity:1.0; filter:alpha(opacity=100);
}

.serverSubNavigation li:hover a
{
	text-decoration: none;
}

/*.serverTable{*/
/*	margin-left: auto;*/
/*	margin-right: auto;*/
/*	width: 900px;*/
/*	border-spacing: 0px;*/
/*	margin-bottom: 300px;*/
/*	text-align: center;*/
/*}*/

/*.serverTable td{*/
/*	font-size: 30px;*/
/*	font-weight: bold;*/
/*	font-style: italic;*/
/*	padding-top: 0px;*/
/*	height: 400px;*/
/*	width: 400px;*/
/*}*/

/*.serverTable td a{*/
/*	outline: 0;*/
/*	border: 0px;*/
/*}*/

/*.serverTable td a img{*/
/*	opacity:0.8; */
/*	filter:alpha(opacity=80);*/
/*}*/

/*.serverTable td a img:hover{*/
/* 	opacity:1.0; */
/* 	filter:alpha(opacity=100); */
/*}*/


.flightSchoolNavigation
{
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	list-style: none;
	text-align: center;
	display: table;
	width: 100%;
	background-color: #8C8C8C;
	border-style: solid;
	border-width: 0px;
	border-radius: 0px;
	border-color: rgba(0, 0, 0, 0.4);;
	background: rgba(152, 18, 21, 0.5);
}

.flightSchoolNavigation li
{
	display: table-cell;
	padding: 10px;
	width: 33.3%;
}

.flightSchoolNavigation li img
{
	float: left;
	margin: 0 15px 0 0;
	opacity:0.75; filter:alpha(opacity=75);
	height: 40px;
	border: 0px;
}

.flightSchoolNavigation li a
{
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
	overflow: auto;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
	float: left;

}

.flightSchoolNavigation li a.current
{
	color: #F28900;
}

.flightSchoolNavigation li:hover
{
  background: url(../images/flight_school/navigation/background_highlight.png) repeat;
}

.flightSchoolNavigation li:hover img
{
	opacity:1.0; filter:alpha(opacity=100);
}

.flightSchoolSubNavigation
{
	margin: 0px;
}

.flightSchoolSubNavigation ul
{
  list-style-type: none;
  padding-left: 40px;
	padding-right: 40px;
}

.flightSchoolSubNavigation li
{
	text-align: justify;
	padding: 5px;
	border-radius: 15px;
}

.flightSchoolSubNavigation li a
{
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
	overflow: auto;
	color: black;
	font-size: 22px;
    font-weight: bold;
    color: #ffffff;
	background: none;
	padding: 0px;
	margin: 0px;
}

.flightSchoolSubNavigation li p 
{
  font-size: 14px;
  padding: 0px;
  margin-top: 5px;
  font-weight: normal;
}

.flightSchoolSubNavigation li img
{
	float: left;
	margin: 0 15px 0 0;
	width: 160px;
	height: 100px;
	opacity:0.75; filter:alpha(opacity=75);
	border: 1px;
	border-style: solid;
	border-color: #000000;
	border-radius: 15px;
}

.flightSchoolSubNavigation li:hover
{
  background: rgba(0, 0, 0, 0.3);
}

.flightSchoolSubNavigation li:hover img
{
	opacity:1.0; filter:alpha(opacity=100);
}

.flightSchoolSubNavigation li:hover a
{
	text-decoration: none;
}
