<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="Air Combat Group is a 'full real' IL2 Cliffs of Dover squad with a focus on teamwork and tactics to provide a great environment in which to enjoy simulating various historically accurate moments of the Battle of Britain and other Theatres of Operation."/>
<meta name="keywords" content="IL2, Cliffs of Dover, ACG, Full Real, multiplayer, teamspeak, historical, Battle of Britain, flight sim, simulation"/>
<link rel="stylesheet" href="/includes/css/style.css" type="text/css" media="screen" />
<link rel="shortcut icon" href="/includes/images/favicon.png" type="image/png" />
<link rel="icon" href="/includes/images/favicon.png" type="image/png" />
<link rel="apple-touch-icon" href="/includes/images/favicon_app.png"/>
<link rel="apple-touch-icon" sizes="72x72" href="/includes/images/favicon_app.png"/>
<link rel="apple-touch-icon" sizes="114x114" href="/includes/images/favicon_app.png"/>
<link rel="apple-touch-icon" sizes="152x152" href="/includes/images/favicon_app.png"/>